POSTGRES_USER=tradeup_app
POSTGRES_PASSWORD=change-this-local-password
POSTGRES_DB=tradeups
CLICKHOUSE_USER=tradeup_app
CLICKHOUSE_PASSWORD=change-this-local-password
CLICKHOUSE_DB=tradeups
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-local-admin-password

# Optional scheduling overrides
DAILY_PRICE_CRON=0 0 2 * * ?
DAILY_METRICS_CRON=0 0 3 * * ?